@import url("https://fonts.googleapis.com/css?family=Paytone+One");

#root {
  height:100%;
}


body{
  height: 100%;
}

.no-highlight{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.pointer-hover{
  cursor:pointer;
}

.round{
  border-radius: 15%;
}


.spacer{
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.no_underline{
  text-decoration: none;
}
